{% extends "base.html" %}

{% block container %}
<div class="container" style="margin-top: 16px;">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Bilans</h4>
            <p class="card-text">Przychód: <span style="color: green">{{ '%0.2f'|format(income) }} zł</span><br>
                Wydatki: <span style="color: red">{{ '%0.2f'|format(outcome) }} zł</span></p>
            <p class="card-text"><strong>Bilans: <span style="color: {% if balance > 0 %}green{%else%}red{% endif %}">{{ '%0.2f'|format(balance) }}zł</span></strong></p>
        </div>
    </div>
</div>
{% endblock %}