<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Webcash</title>

    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/side-menu.css') }}">
</head>
<body>
    <div id="layout">
        <!-- <a href="#menu" id="menuLink" class="menu-link">
            <span></span>
        </a>

        <div id="menu">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home</a></li>
                </ul>
            </div>
        </div> -->

        <div id="main">
            <div class="content">
            <p>Income: <span style="color: green">{{ '%0.2f'|format(income) }} zł</span><br>
            Outcome: <span style="color: red">{{ '%0.2f'|format(outcome) }} zł</span><br><br>
            Balance: <span style="color: {% if balance > 0 %}green{%else%}red{% endif %}">{{ '%0.2f'|format(balance) }}zł</span></p>
            <hr>
            <p>{{ in_tree.name }} ({{ '%0.2f'|format(in_tree.balance) }}zł)
                <ul>
                    {% for el in in_tree.children %}
                    <li>{{ el.name }} ({{ '%0.2f'|format(el.balance) }}zł)</li>
                    {% endfor %}
                </ul>
            </p>
            <p>{{ ex_tree.name }} ({{ '%0.2f'|format(ex_tree.balance) }}zł)
                <ul>
                    {% for el in ex_tree.children %}
                    <li>{{ el.name }} ({{ '%0.2f'|format(el.balance) }}zł)
                        <ul>
                            {% for em in el.children %}
                            <li>{{ em.name }} ({{ '%0.2f'|format(em.balance) }}zł)</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </p>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>

</body>
</html>
